<a href="https://colab.research.google.com/github/Tclack88/DS-Unit-1-Sprint-1-Dealing-With-Data/blob/master/module4-makefeatures/LS_DS_114_Make_Features_Assignment.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<img align="left" src="https://lever-client-logos.s3.amazonaws.com/864372b1-534c-480e-acd5-9711f850815c-1524247202159.png" width=200>

# ASSIGNMENT

- Replicate the lesson code.

 - This means that if you haven't followed along already, type out the things that we did in class. Forcing your fingers to hit each key will help you internalize the syntax of what we're doing.
 - [Lambda Learning Method for DS - By Ryan Herr](https://docs.google.com/document/d/1ubOw9B3Hfip27hF2ZFnW3a3z9xAgrUDRReOEo-FHCVs/edit?usp=sharing)
- Convert the `term` column from string to integer.
- Make a column named `loan_status_is_great`. It should contain the integer 1 if `loan_status` is "Current" or "Fully Paid." Else it should contain the integer 0.

- Make `last_pymnt_d_month` and `last_pymnt_d_year` columns.

In [0]:
import pandas as pd
import numpy as np

In [0]:
! wget https://resources.lendingclub.com/LoanStats_2018Q4.csv.zip; ls

In [0]:
!unzip LoanStats_2018Q4.csv.zip; ls

In [0]:
df = pd.read_csv("LoanStats_2018Q4.csv",header=1,na_values ='n/a',skipfooter=2)

/usr/local/lib/python3.6/dist-packages/ipykernel_launcher.py:1: ParserWarning: Falling back to the 'python' engine because the 'c' engine does not support skipfooter; you can avoid this warning by specifying engine='python'.
  """Entry point for launching an IPython kernel.

In [0]:
dropped = ['id','member_id','url','desc'] #drop these because they are missing throughout the dataset
df = df.drop(columns = dropped)

In [0]:
# Change percent to float in interest rate (int_rate) column
df.int_rate = df.int_rate.apply(lambda x : float(x[:-1]))

In [0]:
# clean employer title
def cleantitle(x):
  if type(x) == str:
    return x.strip().title()
  else:
    return 'Unknown'

df.emp_title = df.emp_title.apply(cleantitle)

In [0]:
# Create a Boolean column as to whether or not this job is a 'Manager' position
df['emp_title_manager'] = df.emp_title.str.contains('Manager')

In [0]:
# Convert "issue date" to date time and add issue month and year columns
df.issue_d = pd.to_datetime(df.issue_d,infer_datetime_format=True)
df['issue_month'] = df.issue_d.dt.month
df['issue_year'] = df.issue_d.dt.year
# Convert "earlist credit line" to date time as well and create new column as days since this credit line was established
df.earliest_cr_line = pd.to_datetime(df.earliest_cr_line,infer_datetime_format=True)
df['days_from_earliest_credit_to_issue'] = df.issue_d - df.earliest_cr_line

### Optional Nurse Conversion (STRETCH):

In [0]:
# One extra cleaning to convert nurse job title variation to one job: 'Nurse'
nurse_list = ['Nurse','Rn','Nurse Practitioner','Registered Nurse']
def nurse_convert(x):
  if x in nurse_list:
    x = 'Nurse'
  return x

df.emp_title = df.emp_title.apply(nurse_convert)

In [0]:
df.emp_title.value_counts()

### Remaining Questions:
Convert the term column from string to integer.

Make a column named loan_status_is_great. It should contain the integer 1 if loan_status is "Current" or "Fully Paid." Else it should contain the integer 0.

Make last_pymnt_d_month and last_pymnt_d_year columns.

In [0]:
df.term = df.term.apply(lambda x: int(x.split()[0]))

def great_loan_status(x):
  good_loan_status = ["Current","Fully Paid"]
  if x in good_loan_status:
    return True
  else:
    return False
  
df['loan_status_is_great'] = df.loan_status.apply(great_loan_status)

df.last_pymnt_d = pd.to_datetime(df.last_pymnt_d,infer_datetime_format=True)
df['last_pymnt_d_month'] = df.last_pymnt_d.dt.month
df['last_pymnt_d_year'] = df.last_pymnt_d.dt.year

In [0]:
df.head()

   loan_amnt  funded_amnt  ...  last_pymnt_d_month  last_pymnt_d_year
0      10000        10000  ...                 7.0             2019.0
1       4000         4000  ...                 7.0             2019.0
2       5000         5000  ...                 6.0             2019.0
3      23000        23000  ...                 7.0             2019.0
4       8000         8000  ...                 7.0             2019.0

[5 rows x 147 columns]

# STRETCH OPTIONS

You can do more with the LendingClub or Instacart datasets.

LendingClub options:
- There's one other column in the dataframe with percent signs. Remove them and convert to floats. You'll need to handle missing values.
- Modify the `emp_title` column to replace titles with 'Other' if the title is not in the top 20. 
- Take initiatve and work on your own ideas!

Instacart options:
- Read [Instacart Market Basket Analysis, Winner's Interview: 2nd place, Kazuki Onodera](http://blog.kaggle.com/2017/09/21/instacart-market-basket-analysis-winners-interview-2nd-place-kazuki-onodera/), especially the **Feature Engineering** section. (Can you choose one feature from his bulleted lists, and try to engineer it with pandas code?)
- Read and replicate parts of [Simple Exploration Notebook - Instacart](https://www.kaggle.com/sudalairajkumar/simple-exploration-notebook-instacart). (It's the Python Notebook with the most upvotes for this Kaggle competition.)
- Take initiative and work on your own ideas!

You can uncomment and run the cells below to re-download and extract the Instacart data

### Lending Club Stretches

In [0]:
# The revol_util column had strings and flosts mixed (NaN's were these floats)
# so my previous solution (lambda x : float([x:-1])) doesn't apply because
# it will convert nan to 'nan' then strip to 'na' and this is not a valid float
# however float('nan') returns NaN, so stripping the % if it applies does the trick
df.revol_util = df.revol_util.apply(lambda x: float(str(x).strip('%')))

In [0]:
# get list of top 20
top_twenty = list(df.emp_title.value_counts().index.values)[:20]

def primary_job(x):
  if x in top_twenty:
    return x
  else:
    return "Other"

df.emp_title = df.emp_title.apply(primary_job)

In [0]:
# !wget https://s3.amazonaws.com/instacart-datasets/instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# !tar --gunzip --extract --verbose --file=instacart_online_grocery_shopping_2017_05_01.tar.gz

In [0]:
# %cd instacart_2017_05_01